main {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 594px;
    height: 730px;
    margin-block-start: 2rem;
    margin-inline: auto;
    background-color: #282726;
}

header {
    text-align: center;
    margin-block-start: 5rem;
}

header h1 {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 26.06px;
    color: #F9F4DA;
    margin-block-end: .5rem;
}

header p {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 18.24px;
    max-width: 350px;
    margin-block-end: 2rem;
}

.game__status {
    background-color: #10A95B;
    width: 350px;
    padding: .5em;
    text-align: center;
    border-radius: 4px;
    color: #F9F4DA;
    margin-block-end: 2rem ;
}

.game__status h2 {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 26.06px;
}

.game__status p {
    font-size: 1rem;
    font-weight: 500;
    line-height: 20.85px;
}

.language__section {
    display: flex;
    justify-content: center;
    max-width: 350px;
    flex-wrap: wrap;
    gap: 5px;
    margin-block-end: 2rem;
}

.language__section div {
    padding: 0.481em;
    border-radius: 3px;
    font-size: .75rem;
    font-weight: 700;
    line-height: 15.64px;
}

.word__section {
    display: flex;
    justify-content: center;
    gap: 3px;
    margin-block-end: 2rem;
}

.word__section .letter {
    width: 40px;
    height: 40px;
    background-color: #323232;
    color:#F9F4DA;
    display: flex;

    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #F9F4DA;

    font-size: 1.125rem;
    font-weight: 700;
    line-height: 23.45px;
}

.keyboard__section {
    max-width: 480px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 6px;
    margin-block-end: 2rem;
}

.keyboard__section button {
    width: 40px;
    height: 40px;
    border: 1px solid #D7D7D7;
    border-radius: 3px;

    font-size: 1rem;
    font-weight: 600;
    line-height: 20.85px;
    color: #1E1E1E;

    cursor: pointer;

    background-color: #FCBA29;
}

.new__game-btn {
    width: 228px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #D7D7D7;
    background-color: #11B5E5;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 20.85px;
    color: #1E1E1E;
    cursor: pointer;
}
