main {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 594px;
    height: 730px;
    margin-block-start: 2rem;
    margin-inline: auto;
    background-color: #282726;
}

header {
    text-align: center;
    margin-block-start: 5rem;
}

header h1 {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 26.06px;
    color: #F9F4DA;
    margin-block-end: .5rem;
}

header p {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 18.24px;
    max-width: 350px;
    margin-block-end: 2rem;
}

.game__status {
    background-color: #10A95B;
    width: 350px;
    padding: .5em;
    text-align: center;
    border-radius: 4px;
    color: #F9F4DA;
    margin-block-end: 2rem ;
}

.game__status h2 {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 26.06px;
}

.game__status p {
    font-size: 1rem;
    font-weight: 500;
    line-height: 20.85px;
}

